table {
	border: 1px solid lightgray;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: burlywood;
    color: white;
}

tr:hover {background-color: beige}

input[type=text] {
    margin: 8px 0;
    box-sizing: border-box;
}